/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-color: #000028;
  --header-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --subtitle-color: #000028;
  --main-text-color: #f1b2ce;
  --button-hover-color: rgba(255, 0, 112, 0.4);
}
